import cx from 'classnames';
import React from 'react';

import css from './{{ kebabCase name }}.module.scss';

const {{ properCase name }} = ({ className }) => {
return (
<div className={cx(css.container, className)}>
  {{ properCase name }} component
</div>
);
};

export default {{ properCase name }};