.heading {
  color: var(--color-primary);
  text-align: left;
  margin: 0;
  font-weight: 550;
}

.sub {
  font-size: 14px;
  line-height: 14px;

  padding: 6px 0 9px;
}

.section {
  font-size: 21px;
  line-height: 21px;
}
